.error-message {
  color: red;
  border: 1px solid red;
  display: inline-block;
  margin-top: 10px;
  padding: 5px;
}

.createItem {
  text-align: center;
  margin: 0 auto;
  grid-area: main;
}

.input-box {
  width: 20rem;
  height: 30px;
  border-radius: 40px;
  outline: none;
  font-family: 'jaldi', sans-serif;
  font-weight: bold;
}
.input-name {
  display: flex;
  justify-content: center;
}
input#item-name {
  margin: 2px 5px;
}

.title {
  color: #d13573;
  font-family: 'Capriola', sans-serif;
  font-size: 36px;
}
.fa-plus-circle {
  padding-right: 4px;
}

.logo {
  width: 3%;
  border-radius: 50%;
  padding: 9px 15px;
  background-color: #d13573;
  margin-bottom: 20px;
}
.how_soon {
  font-weight: bold;
  font-family: 'jaldi', sans-serif;
}
.radio-buttons {
  border: 4px solid #b6c9f0;
  border-radius: 17px;
  width: 30%;
  margin: auto;
  text-align: left;
  margin-top: 3px;
  margin-bottom: 3px;
}
@media only screen and (max-width: 600px) {
  .logo {
    width: 15%;
  }
  .bottom {
    display: none;
  }
  .home {
    margin-bottom: 25px;
  }

  h1.title {
    margin: 9px auto;
    font-size: 27px;
  }
  .radio-buttons {
    width: 75%;
  }
  .input-box {
    width: 15rem;
    height: 20px;
    margin-bottom: 5px;
  }
  .how_soon {
    font-size: 13px;
  }
}
