h1 {
  margin-top: 0;
  margin-bottom: 32px;
}

.home {
  text-align: center;
  margin: 0 auto;
  display: block;
  grid-area: main;
}

.share-token {
  display: block;
  margin: 0 auto;
  padding-bottom: 10px;
}

.input-box {
  display: block;
  margin: 0 auto 10px;
}

.submit-button {
  display: block;
  margin: 0 auto;
}

.error-message {
  color: #e93b81;
  border: 1px solid #e93b81;
  display: inline-block;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 17px;
}
.title {
  color: #e93b81;
  font-family: 'Capriola', sans-serif;
  font-size: 36px;
}

.logo {
  width: 3%;
  border-radius: 50%;
  padding: 9px 15px;
  background-color: #e93b81;
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .logo {
    width: 15%;
  }
  .bottom {
    display: none;
  }
  .home {
    margin-bottom: 25px;
  }
}

.logo {
  width: 3%;
  border-radius: 50%;
  padding: 9px 15px;
  background-color: #e93b81;
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .logo {
    width: 15%;
  }
  .bottom {
    display: none;
  }
  .home {
    margin-bottom: 25px;
  }
}
