.navigation {
  justify-self: flex-end;
}

.navigation ul {
  display: flex;
  justify-content: center;
}

.navigation li {
  list-style-type: none;
  text-align: center;
  padding-right: 8px;
  padding-left: 8px;
}

.navigation a {
  text-decoration: none;
  background-color: #fafafa;
  border-radius: 72px;
  color: #668ad4;
  font-size: 24px;
  font-family: 'Jaldi', 'sans-serif';
  text-transform: none;
  padding: 0 42px;
  width: 240px;
}

.navigation a:hover,
a:focus {
  background-color: #668ad4;
  border-radius: 72px;
  color: #fafafa;
  font-size: 24px;
  font-family: 'Jaldi', 'sans-serif';
  text-transform: none;
  padding: 0 42px;
  width: 240px;
}

.active {
  background-color: #668ad4;
  border-radius: 72px;
  color: #fafafa;
  font-size: 24px;
  font-family: 'Jaldi', 'sans-serif';
  text-transform: none;
  padding: 0 42px;
  width: 280px;
  font-weight: 800;
}

@media only screen and (max-width: 800px) {
  .navigation a,
  .navigation a:hover,
  a:focus,
  .active {
    width: 84px;
  }
  .text {
    display: none;
  }
}
