.list-view {
  text-align: center;
  margin: 0 auto;
  display: block;
}

.list-view ul {
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.list-view li {
  list-style-type: none;
}
