.list-view {
  text-align: center;
  margin: 0 auto;
  display: block;
}

.list-view ul {
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.check-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.check-item li {
  list-style: none;
}
.checked {
  text-decoration: line-through;
}

.clear-button:focus,
.clear-button:hover {
  border: solid 2px black;
  border-radius: 2px;
}
.clear-button {
  background-color: white;
  border: none;
  outline: none;
}

.soon {
  color: #ad2d2d;
}

.kind-of-soon {
  color: #f77903;
}

.not-so-soon {
  color: #08640d;
}

.inactive {
  color: lightgray;
}

.delete-button {
  text-align: right;
}

.success-message {
  display: block;
  margin: 10px auto;
  color: green;
  font-weight: 600;
}
.shopingList {
  font-family: jaldi, sans-serif;
}
