.list-view {
  text-align: center;
  margin: 0 auto;
  display: block;
}

.list-view ul {
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.check-item {
  display: flex;
}
.check-item li {
  list-style: none;
}
.checked {
  text-decoration: line-through;
}
