.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.fa-plus-circle,
.fa-file-alt,
.fa-paper-plane {
  padding-right: 8px;
  padding-left: 8px;
}

form {
  margin-left: 10px;
}
